@font-face {
  font-family: 'FTY-SKORZHEN-NCV';
  src: url("../fonts/FTY-SKORZHEN-NCV.ttf.woff") format("woff"), url("../fonts/FTY-SKORZHEN-NCV.ttf.svg#FTY-SKORZHEN-NCV") format("svg"), url("../fonts/FTY-SKORZHEN-NCV.ttf.eot"), url("../fonts/FTY-SKORZHEN-NCV.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

#warped {
  position: relative;
  display: block;
  /*width:588px; height:440px;*/
  margin: 0;
  padding: 0;
  left: 17.5%;
  top: 380px;
}

#warped > span[class^=w]:nth-of-type(n+0) {
  display: block;
  position: absolute;
  -moz-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

#warped span {
  font-family: 'Oswald';
  font-size: 58px;
  font-weight: 700;
  font-style: normal;
  line-height: 0.65;
  white-space: pre;
  overflow: visible;
  padding: 0px;
}

#warped .w0 {
  -moz-transform: rotate(-6.72rad) skewX(-6.72rad) scaleY(0.9);
  -webkit-transform: rotate(-6.72rad) skewX(-6.72rad) scaleY(0.9);
  -o-transform: rotate(-6.72rad) skewX(-6.72rad) scaleY(0.9);
  -ms-transform: rotate(-6.72rad) skewX(-6.72rad) scaleY(0.9);
  transform: rotate(-6.72rad) skewX(-6.72rad) scaleY(0.9);
  width: 24px;
  height: 37px;
  left: 28.19px;
  top: 182.91px;
}

#warped .w1 {
  -moz-transform: rotate(-6.43rad) skewX(-6.43rad) scaleY(0.99);
  -webkit-transform: rotate(-6.43rad) skewX(-6.43rad) scaleY(0.99);
  -o-transform: rotate(-6.43rad) skewX(-6.43rad) scaleY(0.99);
  -ms-transform: rotate(-6.43rad) skewX(-6.43rad) scaleY(0.99);
  transform: rotate(-6.43rad) skewX(-6.43rad) scaleY(0.99);
  width: 32px;
  height: 37px;
  left: 52.71px;
  top: 176.24px;
}

#warped .w2 {
  -moz-transform: rotate(-6.36rad) skewX(-6.36rad) scaleY(0.99);
  -webkit-transform: rotate(-6.36rad) skewX(-6.36rad) scaleY(0.99);
  -o-transform: rotate(-6.36rad) skewX(-6.36rad) scaleY(0.99);
  -ms-transform: rotate(-6.36rad) skewX(-6.36rad) scaleY(0.99);
  transform: rotate(-6.36rad) skewX(-6.36rad) scaleY(0.99);
  width: 30px;
  height: 37px;
  left: 86.47px;
  top: 172.91px;
}

#warped .w3 {
  -moz-transform: rotate(-6.32rad) skewX(-6.32rad) scaleY(0.99);
  -webkit-transform: rotate(-6.32rad) skewX(-6.32rad) scaleY(0.99);
  -o-transform: rotate(-6.32rad) skewX(-6.32rad) scaleY(0.99);
  -ms-transform: rotate(-6.32rad) skewX(-6.32rad) scaleY(0.99);
  transform: rotate(-6.32rad) skewX(-6.32rad) scaleY(0.99);
  width: 26px;
  height: 37px;
  left: 117.73px;
  top: 171.34px;
}

#warped .w4 {
  -moz-transform: rotate(-6.3rad) skewX(-6.3rad) scaleY(0.99);
  -webkit-transform: rotate(-6.3rad) skewX(-6.3rad) scaleY(0.99);
  -o-transform: rotate(-6.3rad) skewX(-6.3rad) scaleY(0.99);
  -ms-transform: rotate(-6.3rad) skewX(-6.3rad) scaleY(0.99);
  transform: rotate(-6.3rad) skewX(-6.3rad) scaleY(0.99);
  width: 12px;
  height: 37px;
  left: 145.16px;
  top: 170.81px;
}

#warped .w5 {
  -moz-transform: rotate(-6.28rad) skewX(-6.28rad) scaleY(0.99);
  -webkit-transform: rotate(-6.28rad) skewX(-6.28rad) scaleY(0.99);
  -o-transform: rotate(-6.28rad) skewX(-6.28rad) scaleY(0.99);
  -ms-transform: rotate(-6.28rad) skewX(-6.28rad) scaleY(0.99);
  transform: rotate(-6.28rad) skewX(-6.28rad) scaleY(0.99);
  width: 33px;
  height: 37px;
  left: 158.83px;
  top: 170.71px;
}

#warped .w6 {
  -moz-transform: rotate(-6.24rad) skewX(-6.24rad) scaleY(0.99);
  -webkit-transform: rotate(-6.24rad) skewX(-6.24rad) scaleY(0.99);
  -o-transform: rotate(-6.24rad) skewX(-6.24rad) scaleY(0.99);
  -ms-transform: rotate(-6.24rad) skewX(-6.24rad) scaleY(0.99);
  transform: rotate(-6.24rad) skewX(-6.24rad) scaleY(0.99);
  width: 32px;
  height: 37px;
  left: 192.92px;
  top: 171.62px;
}

#warped .w7 {
  -moz-transform: rotate(-6.18rad) skewX(-6.18rad) scaleY(0.99);
  -webkit-transform: rotate(-6.18rad) skewX(-6.18rad) scaleY(0.99);
  -o-transform: rotate(-6.18rad) skewX(-6.18rad) scaleY(0.99);
  -ms-transform: rotate(-6.18rad) skewX(-6.18rad) scaleY(0.99);
  transform: rotate(-6.18rad) skewX(-6.18rad) scaleY(0.99);
  width: 24px;
  height: 37px;
  left: 226.47px;
  top: 173.79px;
}

#warped .w8 {
  -moz-transform: rotate(-6.05rad) skewX(-6.05rad) scaleY(0.97);
  -webkit-transform: rotate(-6.05rad) skewX(-6.05rad) scaleY(0.97);
  -o-transform: rotate(-6.05rad) skewX(-6.05rad) scaleY(0.97);
  -ms-transform: rotate(-6.05rad) skewX(-6.05rad) scaleY(0.97);
  transform: rotate(-6.05rad) skewX(-6.05rad) scaleY(0.97);
  width: 24px;
  height: 37px;
  left: 251.52px;
  top: 177.79px;
}

/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* close commented backslash hack */
@media all {
  html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  body {
    width: 1000px;
    margin: 0 auto;
    background: lightyellow;
  }

  .container {
    position: relative;
    width: 500px;
    margin: 0 auto;
  }

  .logo {
    display: block;
    width: 100%;
    z-index: 1;
  }

  h1 {
    z-index: 9999;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: white;
  }

  h1#city-name {
    position: relative;
    top: 650px;
    left: -1%;
    text-align: center;
    color: red;
    margin: 0 auto;
    font-size: 3.2em;
    font-family: "FTY-SKORZHEN-NCV", cursive;
    display: none;
  }

  .location {
    background-image: url("../images/enter_text2.png");
    background-repeat: no-repeat;
    background-position: 58% 20%;
    position: absolute;
    top: 1190px;
    left: -2%;
    z-index: 999;
    width: 500px;
    text-align: center;
    color: white;
  }
  .location input {
    display: block;
    margin: 0 auto;
    color: red;
    text-transform: normal;
  }
  .location .address {
    width: 80%;
    text-align: center;
    font-size: 1.5em;
    padding: 1%;
    border-radius: 10px;
    letter-spacing: 0.3em;
    font-weight: 300;
    border: none;
    margin: 17% auto 4%;
    color: lightyellow;
  }
  .location .address:focus {
    color: red;
    letter-spacing: 0.1em;
  }
  .location input.address {
    background: black;
  }
  .location label {
    display: block;
    margin: 10px auto;
    width: 70%;
    font-size: 2.5em;
    letter-spacing: 0.05em;
    font-family: "FTY-SKORZHEN-NCV", cursive;
  }
  .location .submit {
    font-family: "FTY-SKORZHEN-NCV", cursive;
    color: white;
    background: rgba(255, 0, 0, 0);
    border-radius: 10px;
    border: none;
    width: 147px;
    height: 55px;
    margin-bottom: 25px;
    font-size: 1.9em;
    letter-spacing: 0.15em;
    line-height: 1.8em;
  }
  .location .submit:hover {
    color: red;
  }
  .location input.submit {
    margin-left: 36.7%;
  }
  .location .egAddress {
    display: block;
    margin: 20px auto;
    width: 62%;
    font-size: 1.3em;
    font-weight: 300;
  }

  div.stores {
    width: 500px;
    display: block;
    background-image: url("../images/beer-bottle-middle.png");
    background-repeat: repeat-y;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5% 5% 0 5%;
    color: red;
    z-index: 999;
  }
  div.stores h2 {
    font-variant: small-caps;
    font-family: "FTY-SKORZHEN-NCV", cursive;
    font-size: 2.5em;
    text-align: center;
    padding-top: 15%;
    margin: 0;
  }
  div.stores h2:first-child {
    padding-top: 5%;
  }
  div.stores h3,
  div.stores h4 {
    display: inline-block;
    font-size: 2em;
    padding-top: 4%;
    margin: 0 auto;
    font-weight: 300;
    width: 60%;
    text-align: center;
  }
  div.stores h4 {
    padding-left: 20px;
    width: 35%;
  }
  div.stores p {
    font-family: "FTY-SKORZHEN-NCV", cursive;
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: center;
    padding-top: 5%;
    margin: 0;
  }

  .bottom {
    width: 500px;
    height: 376px;
    margin: 0 auto;
    background-image: url("../images/beer-bottle-bottom.png");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 999999;
  }

  footer p {
    color: red;
  }
}
